@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 fw-bold mb-4">Welcome to EventEase</h1>
    <div class="hero-img mt-3">
        <img src="https://videos.openai.com/vg-assets/assets%2Ftask_01jqsrs8smf61v3j0p04ffah0c%2Fimg_0.webp?st=2025-04-02T22%3A12%3A03Z&se=2025-04-08T23%3A12%3A03Z&sks=b&skt=2025-04-02T22%3A12%3A03Z&ske=2025-04-08T23%3A12%3A03Z&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skoid=8ebb0df1-a278-4e2e-9c20-f2d373479b3a&skv=2019-02-02&sv=2018-11-09&sr=b&sp=r&spr=https%2Chttp&sig=3QRsjMvBImm3D%2BJzQDdOSgpFDGw%2B%2BnFgzkzj5XNe8r4%3D&az=oaivgprodscus" class="img-fluid w-100 hero-img" alt="Welcome Image">
    </div>
</div>