@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 fw-bold mb-4">Welcome to EventEase</h1>
    <div class="hero-image-container mt-3">
        <img src="https://videos.openai.com/vg-assets/assets%2Ftask_01jqsssb19epb94vdjrz6xqnk3%2Fimg_0.webp?st=2025-04-01T22%3A05%3A45Z&se=2025-04-07T23%3A05%3A45Z&sks=b&skt=2025-04-01T22%3A05%3A45Z&ske=2025-04-07T23%3A05%3A45Z&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skoid=8ebb0df1-a278-4e2e-9c20-f2d373479b3a&skv=2019-02-02&sv=2018-11-09&sr=b&sp=r&spr=https%2Chttp&sig=TQCM%2FPiAwu7f4qozguHPTmqvRzmSswev%2FWxYn%2FVET5Q%3D&az=oaivgprodscus" class="img-fluid w-100 hero-img" alt="Welcome Image">
    </div>
</div>