@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<hr class="mb-4" style="height: 3px; background-color: white; border: none;"/>

<h5>CLDV6211 POE Part 1</h5>

<p>
    <i class="bi bi-person-raised-hand me-1"></i>
    Created by Tyreece Sewbaran
</p>
<p>
    <i class="bi bi-person-vcard-fill me-1"></i>
    ST10439074
</p>
<p>
    <i class="bi bi-github me-1"></i>
    <a href="https://github.com/tyreece-s/ST10439074_CLDV6211_POE" class="link-light">
        github.com/tyreece-s
    </a>
</p>


